rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if request.auth != null && request.auth.uid in get(/databases/$(database)/documents/admin/private_vars).data.admins;
    }
    match /books/{barcode} {
      allow read: if true;
    }
    match /config/cloud_vars {
      allow read: if true;
    }
    match /config/writable_vars {
      allow read: if true;
      allow write: if request.auth != null && request.resource.data.maxCardNumber > get(/databases/$(database)/documents/config/writable_vars).data.maxCardNumber;
    }
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
    match /admin/{doc} {
      allow read, write: if false;
    }
  }
}