rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // TODO: Maybe stop hardcoding this...
  	function isAdmin() {
      return request.auth.uid == "lcIml2tYz6ZjID6IZ9Dt3y5tSLB2"
    }
    match /{allPaths=**} {
      allow read, write: if isAdmin();
    }
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
    match /public {
      allow read: if true;
    }
  }
}
