/* Admin Main Page */
#admin-dashboard-title {
    font-size: 28px;
    margin-bottom: 20px;
}

/* Grid Layout */
#management-grid {
    margin: 0 auto;
    margin-top: 10px;
    display: grid;
    width: 85%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px 16px;
    justify-items: stretch;
    align-items: stretch;
    flex-wrap: wrap;
}

div.mgmt {
    margin: 0 auto;
    width: 100%;
    min-height: 300px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 0px #cacaca;
    border: 2px solid var(--teal);
    padding: 16px 16px;
    padding-bottom: 16px;
    text-align: center;
}

#add-entry {
    grid-row: 1;
    grid-column: 1;
}

#edit-entry {
    grid-row: 1 / 3;
    grid-column: 2;
}

#checked-out {
    grid-row: 1;
    grid-column: 3 / 5;
}

#reports {
    grid-row: 2;
    grid-column: 3;
}

#stats {
    grid-row: 2;
    grid-column: 1;
}

#management {
    grid-row: 2;
    grid-column: 4;
}

/* Grid Contents */
div.mgmt > p {
    margin: 5px;
}

div.mgmt > h3 {
    margin: 0 auto;
    margin-bottom: 16px;
    text-align: center;
}

div.mgmt > h4 {
    text-align: left;
    font-size: 16px;
    margin-bottom: 0px;
    font-weight: 500;
}

div#checked-out-books-container {
    padding: 8px;
    position: relative;
}

div#checked-out-books-container > .book {
    width: 100%;
    height: 120px;
    margin: 0;
    margin-bottom: 12px;
}

#edit-entry-search-results {
    margin: 0px;
    margin-top: 16px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    border: 2px solid var(--teal);
    width: 100%;
    display: none;
    max-height: 500px;
    padding: 0px 8px;
    box-shadow: 0 0 10px #ccc;
    scrollbar-gutter: stable both-edges;
}

div#edit-entry-search-results > * {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    margin: 8px 0px;
}

.edit-entry-book-image {
    max-width: 100px;
}







/* Edit Entry Page */
#last-updated {
    margin-bottom: 32px;
}

#thumbnail-canvas,
#original-canvas,
#icon-canvas {
    display: none;
}

.delete-button {
    background-color: rgb(255, 116, 139);
    border: 1px solid rgb(59, 59, 59);
    color: var(--dark-teal);
}

.delete-button:focus {
    background-color: rgb(179, 46, 68);
    border: 1px solid rgb(59, 59, 59);
    color: white;
}







/* Inventory Page */
#inventory-popup {
    display: none;
    z-index: 70;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #90a23955;
}

#inventory-popup-box {
    background-color: white;
    border: 8px solid var(--teal);
    min-width: 600px;
    min-height: 400px;
    width: 30%;
    height: 20%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    margin: 0 auto;
    padding: 8px;
}






/* View Pages */
.deleted {
    background-color: #ff9999;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.deleted > * {
    opacity: 0.7;
}

.userimage {
    max-height: 150px;
    float: left;
    user-select: none;
    border-radius: 200px;
    box-shadow: 0px 0px 14px -4px var(--teal);
    /*padding: 4px;*/
    height: 100%;
}







/* Admin Help Page */
ol.h3 > li::marker {
    font-size: 1.17em;
    font-weight: bold;
}

div.help {
    margin: 0 auto;
}

li > ul {
    margin-left: -25px;
}

li.back-to-top {
    text-align: right;
}

li.back-to-top::marker {
    content: "";
}

.help {
    text-align: left;
}







/* Responsive */
/* Content if screen is large */
@media screen and (max-width: 1440px) {
    #management-grid {
        width: calc(100% - 16px*2);
    }
}

/* Content if screen is small */
@media screen and (max-width:1024px) {
    #management-grid {
        width: calc(100% - 16px*2);
        grid-template-columns: 1fr 1fr;
    }

    #add-entry {
        grid-column: 1;
        grid-row: 1;
    }

    #stats {
        grid-column: 1;
        grid-row: 2;
    }

    #edit-entry {
        grid-column: 2;
        grid-row: 1 / 3;
    }

    #checked-out {
        grid-column: 1 / 3;
        grid-row: 3;
    }

    #report {
        grid-column: 1;
        grid-row: 4;
    }

    #management {
        grid-column: 2;
        grid-row: 4;
    }

    div#edit-entry-search-results > * {
        height: auto;
        flex-wrap: wrap;
    }

    div#edit-entry-search-results > * > .book > .bookimage {
        max-height: 100px;
    }

    div#edit-entry-search-results > .book > .basic-info > p,
    div#edit-entry-search-results > .book > .basic-info > b > p {
        text-align: center;
    }
}

/* Content if screen is very small */
@media screen and (max-width:786px) {}

/* Content if screen is really small */
@media screen and (max-width:570px) {
    #management-grid {
        width: calc(100% - 16px*1);
        grid-template-columns: 1fr;
    }

    div.mgmt {
        min-height: 200px;
    }

    #add-entry {
        grid-column: 1;
        grid-row: 1;
    }

    #stats {
        grid-column: 1;
        grid-row: 2;
    }

    #edit-entry {
        grid-column: 1;
        grid-row: 3;
        min-height: 300px;
    }

    #checked-out {
        grid-column: 1;
        grid-row: 4;
        min-height: 300px;
    }

    #report {
        grid-column: 1;
        grid-row: 5;
    }

    #management {
        grid-column: 1;
        grid-row: 6;
    }
}


/* Content if screen is super small */
@media screen and (max-width:500px) {}
