div {
    margin: 0 auto;
}

div.mgmt {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 0px #cacaca;
    border: 2px solid var(--teal);
    padding: 8px;
    text-align: center;
}

div.mgmt > p {
    margin: 5px;
}

h3 {
    margin: 0 auto;
    margin-bottom: 8px;
    text-align: center;
}

div#checked-out-books-container {
    padding: 8px;
    position: relative;
}

div#checked-out-books-container > .book {
    width: 100%;
    height: 120px;
    margin: 0;
    margin-bottom: 12px;
}

#edit-entry-search-results {
    margin-top: 8px;
    overflow-y: scroll;
    position: absolute;
    border: 3px solid var(--teal);
    width: calc(0.8 * 25% - 19px);
    display: none;
    max-height: 730px;
    padding: 8px 12px;
}

div#edit-entry-search-results > .book {
    width: 100%;
    height: 120px;
    margin: 0;
    margin-bottom: 12px;
}

#management-grid {
    margin: 0 auto;
    margin-top: 10px;
    display: grid;
    width: 80%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 200px 200px 200px 200px;
    gap: 16px 16px;
    justify-items: stretch;
    align-items: stretch;
}

#add-entry {
    grid-column: 4;
    grid-row: 1 / 3;
}

#edit-entry {
    grid-column: 3 / 4;
    grid-row: 1 / 5;
}

#checked-out {
    grid-column: 1 / 3;
    grid-row: 1 / 5;
}

#report {
    grid-column: 4 / 5;
    grid-row: 3 / 5;
}

.book {
    height: 150px;
}
