.form-section {
    margin-bottom: 40px;
}

#form-container {
    width: 70%;
    position: relative;
    margin: 0 auto;
    padding: 32px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 0px #cacaca;
}

.form-title {
    font-family: "Poppins", sans-serif;
    font-size: 1.4em;
    border-bottom: 2px solid var(--teal);
    margin: 0;
    padding: 4px 0px;
    margin-bottom: 8px;
}

.no-underline {
    border-bottom: 0;
}

p.form-description {
    text-align: left;
    margin-top: 4px;
    margin-bottom: 24px;
    font-size: .9em;
}

input.normal-form-input, input.form-input {
    width: 250px;
    display: block;
}

.long-form-input {
    min-width: 50%;
    outline: none !important;
}

input.short-form-input {
    width: 150px;
}

input {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 1em;
}

textarea {
    margin-bottom: 8px;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    min-height: 150px;
}

select {
    margin-bottom: 8px;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
}

#edit-entry-header {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 18px;
}

.subject-field, .add-subject {
    display: block;
}

.book-cover-image-container {
    max-width: 200px;
    margin: 0;
    position: relative;
}

#book-cover-image {
    width: 100%;
    height: 100%;
    padding: 4px;
    background-color: #eeeeee;
    box-shadow: 0px 0px 16px 0px #aaaaaa4a;
}

#book-cover-image-overlay {
    width: 100%;
    height: 100%;
    padding-top: 50%;
    background-color: #ffffffaa;
    z-index: 2;
    opacity: 0;
    transition: 0.3s;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    cursor: pointer;
}

.delete-button {
    background-color: rgb(255, 116, 139);
    border: 1px solid rgb(59, 59, 59);
    padding: 2px 7px;
    border-radius: 2px;
}

#delete-alert {
    opacity: 0;
    background-color: white;
    border: 10px solid var(--teal);
    border-radius: 20px;
    z-index: 99;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    padding: 30px 40px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#delete-alert-overlay {
    opacity: 0;
    background-color: var(--mint);
    z-index: 98;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}