/* Edit Entry Page */
.form-section {
    margin-bottom: 40px;
}

#form-container {
    width: 70%;
    position: relative;
    margin: 0 auto;
    padding: 32px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 0px #cacaca;
}

.form-title {
    font-family: "Poppins", sans-serif;
    font-size: 1.4em;
    border-bottom: 2px solid var(--teal);
    margin: 0;
    padding: 4px 0px;
    margin-bottom: 8px;
}

.form-title > span {
    font-weight: 500;
    margin-left: 8px;
}

.no-underline {
    border-bottom: 0;
}

p.form-description {
    text-align: left;
    margin-top: 4px;
    margin-bottom: 24px;
    font-size: .9em;
}

input.normal-form-input,
input.form-input {
    width: 250px;
    display: block;
}

.long-form-input {
    min-width: 50%;
    outline: none !important;
}

input.short-form-input {
    width: 150px;
}

.form-section > input {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 1em;
}

textarea {
    margin-bottom: 8px;
    font-family: "Oswald", sans-serif;
    font-size: 1em;
    min-height: 150px;
}

select {
    margin-bottom: 8px;
    font-family: "Oswald", sans-serif;
    font-size: 1em;
}

.form-header {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 18px;
}

.subject-field,
.add-subject {
    display: block;
}

.book-cover-image-container {
    max-width: 200px;
    margin: 0;
    position: relative;
}

#book-cover-image {
    width: 100%;
    height: 100%;
    padding: 4px;
    background-color: #eeeeee;
    box-shadow: 0px 0px 16px 0px #aaaaaa4a;
}

#checkout-objects-container {
    padding: 8px;
    overflow-y: scroll;
    max-height: 1000px;
}

#checkout-objects-container > a {
    display: block;
    margin-bottom: 12px;
}

#checkout-actions-container > button {
    margin: 12px 0px;
}

#checkout-actions-container > p {
    margin-left: 16px;
    display: inline;
}




/* Responsive */
/* Content if screen is large */
@media screen and (max-width: 1440px) {}

/* Content if screen is small */
@media screen and (max-width:1024px) {}

/* Content if screen is very small */
@media screen and (max-width:786px) {
    #form-container {
        width: 95%;
    }

    .long-form-input {
        width: 90%;
    }

    textarea {
        width: 90%;
    }
}

/* Content if screen is really small */
@media screen and (max-width:570px) {}


/* Content if screen is super small */
@media screen and (max-width:500px) {
    .normal-form-input,
    .long-form-input,
    textarea {
        width: 100%;
    }

    #form-container {
        padding: 24px;
    }
}
