@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --mint: #C5D86D;
    --teal: #3D7A8B;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

/*Custom Scrollbar*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6a6a6a;
}

/* Text Selection */
::selection {
    background: #0060ff50;
}

/* Content if screen is large */
@media screen and (min-width: 1440px) {

}

/* Content if screen is small */
@media screen and (max-width:786px) {

}

html, body {
    margin: 0px;
    font-family: Oswald, sans-serif;
}

a, a:visited {
    text-decoration: none;
    color: var(--teal);
}

header {
    height: 80px;
    width: 100%;
    background: var(--teal);
    padding: 20px;
    font-family: Poppins, sans-serif;
    display: block;
}

h1 {
    margin: 0;
    margin-top: -5px;
}

header > h1 > a, header > h1 > a:visited {
    float: left;
    margin: 0;
    color: var(--mint);
}

header > a, header > a:visited {
    float: right;
    margin: 0;
    color: var(--mint);
    font-size: 20px;
    margin-top: 10px;
}

a, a:visited {
    text-decoration: none;
    color: var(--teal);
}

nav {
    float: left;
    display: block;
    padding-left: 25px;
    font-size: 20px;
}

.navlink {
    display: block;
    float: left;
    padding: 10px;
}

.navlink > a, .navlink > a:visited {
    color: var(--mint);
}

div.search {
    width: fit-content;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

form {
    display: block;
    float: left;
}

input {
    font-family: Oswald, sans-serif;
    float: left;
}

p {
    text-align: center;
    margin: auto;
}

#books {
    width: 70%;
    margin: 0 auto;
}

.row {
    height: 150px;
    padding: 1% 0;
}

.book {
    width: 30%;
    height: 98%;
    margin: 1%;
    padding: 10px;
    border: 1px solid var(--mint);
    color: var(--teal);
    overflow: visible;
    float: left;
}

.bookimage {
    height: 100%;
    float: left;
}

p.title, p.author {
    text-align: right;
    margin: .25em;
}