:root {
    --mint: #C5D86D;
    --teal: #3D7A8B;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

/*Custom Scrollbar*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6a6a6a;
}

/* Text Selection */
::selection {
    background: #0060ff50;
}

/* Content if screen is large */
@media screen and (min-width: 1440px) {

}

/* Content if screen is small */
@media screen and (max-width:786px) {

}

#books {
    width: 70%;
    margin: 0 auto;
}

.row {
    height: 150px;
    padding: 1% 0;
}

.book {
    width: 30%;
    height: 98%;
    margin: 1%;
    padding: 10px;
    border: 1px solid var(--mint);
    color: var(--teal);
    overflow: visible;
    float: left;
}

.bookimage {
    height: 100%;
    float: left;
}

p.title, p.author {
    text-align: right;
    margin: .25em;
}