#sort-sidebar {
    padding: 10px;
    /*padding-left: 20px;*/
    width: 15%;
    float: left;
    height: 100%;
    top: 0;
    position: relative;
    background-color: #f2f2f2;
    /*transform: translate(0px, -20px);
    padding-top: 40px;*/
    margin-left: 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 8px 0px #cccccc;
    margin-bottom: 20px;
}

#sort-main-title {
    margin: 0;
    margin-bottom: 12px;
    padding: 6px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.sort-item {
    list-style-type: none;
    padding-bottom: 5px;
}

.sort-item > input {
    margin-top: 7px;
    margin-right: 10px;
}

ul.sort-list {
    padding: 0;
    margin-top: 6px;
}

h6.sort-title {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    background-color: #51abc464;
    padding: 4px 20px;
    padding-left: 10px;
    border-radius: 2px;
}

h4 {
    margin: 0;
}

h4:hover {
    text-decoration: underline;
}

.result-image {
    max-width: 120px;
    border: 1px solid var(--mint);
    padding: 4px;
    float: left;
    margin-right: 16px;
    border-radius: 4px;
}

#results-container {
    padding: 10px;
    border-radius: 6px;
    z-index: 3;
    margin-left: 15px;
    margin-bottom: 20px;
    width: 81%;
    float: left;
    overflow: hidden;
    /*margin-right: 20px;*/
    box-shadow: 0px 0px 8px 2px #cccccc;
}

.result-listing {
    padding: 20px 10px;
    overflow: hidden;
    border-bottom: 1px solid black;
    min-height: 180px;
    /*max-height: 400px; // Ideally we don't need this because we take care of anything that makes it tall by trimming it down. This way we don't risk cutting something off */
    color: var(--teal);
    display: flex;
    justify-content: space-between;
}

.result-listing:last-child {
    border-bottom: 0px;
}

.result-number {
    float: left;
    margin-right: 16px;
    order: -1;
}

.result-text {
    text-align: left;
    position: absolute;
    margin-right: 20px;
}

.result-info {
    float: left;
}

#result-page-container {
    margin: 10px auto;
    display: grid;
    width: 60%;
    grid-template-columns: 25% 25% 25% 25%;
    /*grid-template-rows: 200px 200px 200px 200px;*/
    gap: 16px 16px;
    justify-items: stretch;
    align-items: stretch;
}

#result-page-info-bar {
    grid-row: 1 / 5;
    grid-column: 1 / 2;
    /*text-align: center;*/
    padding: 12px;
}

#result-page-details {
    grid-row: 1 / 5;
    grid-column: 2 / 5;
}

#result-page-details > p {
    text-align: left;
}

#result-page-image {
    max-width: 80%;
    min-height: 100px;
}

div#result-page-info-bar > p {
    text-align: left;
}

#checkout-button {
    padding: 16px;
    margin: 8px 0px;
    width: 80%;
    background-color: var(--mint);
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.25s;
}

#checkout-button:hover {
    box-shadow: 0px 0px 6px 2px #90a239;
}


#author-show-more, #subject-show-more {
    text-decoration: underline;
    cursor: pointer;
    margin-left: 27px;
    color: var(--teal);
}

#search-page-input {
    width: calc(100% - 160px);
    padding-left: 12px;
    height: 36px;
    border: 2px var(--mint) solid;
    box-shadow: 0px 0px 8px 2px #cccccc;
    font-size: 16px;
    border-radius: 20px;
}

#search-page-input:focus {
    outline: 0px;
}

h6 {
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 18px;
    text-align: left;
}

#apply-filters-button {
    margin: 0 auto;
    margin-bottom: 16px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
}

div.search-page-search-container {
    float: left;
    width: calc(85% - 72px);
    margin: 16px;
    margin-bottom: 20px;
    margin-top: 0px;
}


.advanced-info {
    flex-basis: 70%;
    margin-left: 8px;
}








/* Content if screen is large */
@media screen and (max-width: 1440px) {

    #results-container {
        width: calc(78% - 35px);
    }

    #sort-sidebar {
        width: 20%;
    }

    div.search-page-search-container {
        width: calc(80% - 72px);
    }

    .advanced-info {
        flex-basis: 60%;
    }

}

/* Content if screen is small */
@media screen and (max-width:1024px) {
    #results-container {
        width: calc(78% - 35px);
        margin-right: 0;
        margin-left: 12px;
    }

    #sort-sidebar {
        margin-left: 8px;
    }

    #result-page-container {
        width: calc(100% - 128px);
        margin: 32px;
    }

    .advanced-info {
        flex-basis: 50%;
    }


}

/* Content if screen is very small */
@media screen and (max-width:786px) {
    /* OLD...?
    #results-container {
        width: 70%;
    }

    #sort-sidebar {
        width: 25%;
    }*/
    
    .sort-section {
        display: none;
        opacity: 0;
        transition: 1s;
    }

    #sort-sidebar {
        width: calc(100% - 20px);
        margin: 0px 10px;
        transition: 1s;
        max-height: 58px;
        margin-bottom: 0px;
        overflow-y: hidden;
    }

    h3#sort-main-title {
        vertical-align: middle;
        text-align: center;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    #results-container {
        margin-top: 20px;
        clear: both;
        width: calc(100% - 30px);
    }

    div.search-page-search-container {
        margin-top: 32px;
        width: calc(100% - 52px);
        margin-left: 12px;
    }

    #apply-filters-button {
        margin-top: 16px;
    }

    #result-page-container {
        grid-template-columns: 40% 60%;
    }

    .advanced-info {
        display: none;
    }

}

/* Content if screen is extremely small */
@media screen and (max-width:500px) {
    #search-page-input {
        width: calc(100% + 24px);
        margin-bottom: 8px;
    }

    #result-page-image {
        width: 100%;
        max-width: none;
    }

    #checkout-button {
        width: 100%;
    }

    #result-page-container {
        width: 85%;
        display: inherit;
        margin: auto;
    }

    #result-page-info-bar {
        padding: 0;
    }


}
