#search-page-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
    margin: 0 24px;
}

/* Search Page Sort Sidebar */
#sort-sidebar {
    display: inline-block;
    padding: 10px 4px;
    width: 15%;
    height: 100%;
    vertical-align: top;
    position: relative;
    background-color: #f2f2f2;
    border-radius: 6px;
    box-shadow: 0px 0px 8px 0px #cccccc;
    margin-bottom: 20px;
    scrollbar-gutter: stable both-edges;
    overflow-y: hidden;
}

#sort-main-title {
    margin: 0;
    margin-bottom: 12px;
    padding: 6px;
    font-weight: bold;
    text-align: center;
}

.sort-item {
    list-style-type: none;
    padding-bottom: 5px;
    position: relative;
}

.sort-item > input {
    margin-top: 7px;
    margin-right: 10px;
    margin-left: -24px;
}

.sort-item > label {
    cursor: pointer;
}

.sort-item > .sort-frequency {
    display: inline;
    position: absolute;
    right: -40px;
    top: 2px;
    padding: 2px 8px;
    border-radius: 24px;
    background-color: #ddd;
    font-size: 14px;
    user-select: none;
    cursor: default;
}

ul.sort-list {
    padding-left: 32px;
    margin-top: 6px;
    margin-right: 42px;
}

h6.sort-title {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    background-color: #51abc464;
    padding: 4px 20px;
    padding-left: 10px;
    border-radius: 2px;
}

#apply-filters-button {
    margin: 0 auto;
    margin-bottom: 24px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
}

#author-show-more,
#subject-show-more {
    text-decoration: underline;
    cursor: pointer;
    color: var(--teal);
}






/* Search Page Results Column */
#results-container {
    padding: 10px;
    border-radius: 6px;
    z-index: 3;
    width: 85%;
    display: inline-block;
    overflow: hidden;
    box-shadow: 0px 0px 8px 2px #cccccc;
}

.result-listing {
    padding: 20px 10px;
    overflow: hidden;
    border-bottom: 1px solid black;
    min-height: 180px;
    /*max-height: 400px; // Ideally we don't need this because we take care of anything that makes it tall by trimming it down. This way we don't risk cutting something off */
    color: var(--teal);
    display: flex;
    justify-content: space-between;
}

#search-results-container > a:last-child > .result-listing {
    border-bottom: none;
}

.advanced-info {
    flex-basis: 70%;
    margin-left: 8px;
}

.result-number {
    min-width: 30px;
    margin-right: 16px;
    order: -1;
}

#paginator {
    display: none;
    align-items: center;
    user-select: none;
    font-size: 20px;
    padding: 8px;
    padding-top: 16px;
    border-top: 1px solid black;
}

#paginator > * {
    margin: 0px 2px;
    padding: 8px 16px;
    border-radius: 8px;
    display: inline-block;
    transition: background-color 0.25s, color 0.25s;
}

#paginator > a:hover {
    background-color: #ddd;
}

#paginator > span {
    cursor: default;
    background-color: var(--teal);
    color: white;
}

#paginator > a.arrow {
    padding: 8px 12px;
    line-height: 0;
}





/* Search Page Search Bar */
#search-page-search-container {
    display: none;
    margin: 0px 16px;
    margin-bottom: 24px;
    overflow: visible;
}







/* Result Page */
#result-page-container {
    margin: 10px auto;
    display: grid;
    width: 70%;
    gap: 16px 16px;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: clamp(20%, 30%, 40%) 1fr 1fr 1fr;
    border-radius: 24px;
    background-color: #f8f8f8;
    box-shadow: 0px 0px 8px 2px #cccccc;
    overflow: hidden;
    padding: 24px 36px;
    transition: opacity 0.75s ease-out;
}

#result-page-header {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    color: var(--teal);
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#result-page-header > div {
    padding: 8px 24px;
    background-color: var(--teal);
    color: white;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: box-shadow 0.25s;
}

#result-page-back-button {
    padding-left: 16px !important;
}

#result-page-back-button > span {
    position: relative;
    top: 4px;
    font-size: 21px;
}

#result-page-header > div:hover {
    box-shadow: 0px 0px 6px 0px var(--teal);
}

#result-page-header > div.disabled {
    background-color: #999;
    color: #eee;
}

#result-page-header > div.disabled:hover {
    box-shadow: none;
}

#result-page-image-container {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin-right: 48px;
}

.result-page-image {
    width: 100%;
    max-width: 400px;
    display: block;
    box-shadow: 0px 0px 14px -4px var(--teal);
    cursor: pointer;
}

#result-page-popup-image {
    max-height: 94vh;
    margin: 0 auto;
    margin-top: 3vh;
    max-width: 90%;
}

#result-page-info-bar {
    grid-column: 1 / 2;
    margin-right: 32px;
}

#result-page-actions-container > * {
    cursor: pointer;
    margin: 4px 0px;
    width: fit-content;
    padding: 4px;
    padding-top: 0px;
    padding-left: 0px;
    transition: text-shadow 0.25s;
}

#result-page-actions-container > *:hover {
    text-shadow: 0px 0px 10px #bbb;
}

#result-page-actions-container > * > .material-symbols-outlined {
    position: relative;
    top: 7px;
    margin-right: 4px;
}

#result-page-details {
    grid-row: 2 / 5;
    grid-column: 2 / 5;
}

#result-page-details > h6,
#result-page-info-bar > h6 {
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 18px;
    text-align: left;
}

#result-page-title {
    font-weight: 700;
    font-size: 32px;
}

#result-page-subtitle {
    font-weight: 500;
    font-size: 24px;
}

#result-page-author-header {
    margin-top: 32px !important;
    font-size: 24px !important;
}

#result-page-description-header {
    margin-top: 32px !important;
}

#result-page-author {
    font-size: 20px;
}

#result-page-details > p {
    text-align: left;
}

div#result-page-info-bar > p {
    text-align: left;
}

div#result-page-info-bar > h6:first-of-type {
    margin-top: 8px;
}

#checkout-popup {
    display: none;
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #90a23955;
}

#checkout-popup-box {
    background-color: white;
    border: 8px solid var(--teal);
    min-width: 600px;
    min-height: 400px;
    width: 30%;
    height: 20%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    margin: 0 auto;
    padding: 8px;
}







/* Checkout Page */
#checkout-info-bar {
    display: block;
    background-color: #eee;
    padding: 24px;
    border-radius: 24px;
    box-shadow: 0px 0px 8px 0px #cccccc;
    margin: 0 16px;
    margin-bottom: 16px;
}

#checkout-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 16px;
    margin-bottom: 16px;
    gap: 24px;
}

#checkout-scanner-container {
    margin-bottom: 16px;
}

#checkout-list-container {
    justify-content: space-between;
    box-shadow: 0px 0px 8px 0px #cccccc;
    border-radius: 24px;
    align-items: flex-start;
    padding: 24px;
    flex-grow: 4;
}

#checkout-list {
    display: flex;
    flex-direction: column;
}

#checkout-list > a {
    width: 100%;
}

#checkout-summary {
    position: sticky;
    display: inline-block;
    padding: 10px 16px;
    height: 100%;
    vertical-align: top;
    background-color: #f2f2f2;
    border-radius: 24px;
    box-shadow: 0px 0px 8px 0px #cccccc;
    flex-grow: 1;
}

#checkout-summary-list {
    margin-bottom: 32px;
}

#checkout-summary-list > * {
    text-align: left;
    line-height: 1.9;
}

#checkout-account-link {
    font-size: 12px;
    text-decoration: underline;
    color: var(--teal);
    cursor: pointer;
}

#checkout-info-bar-title {
    margin-top: 4px;
    font-size: 2em;
}

#checkout-info-bar-text {
    text-align: left;
    margin-bottom: 16px;
}

#checkout-button {
    display: block;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 1.5em;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.25s;
}

.checkout-book {
    overflow: visible;
}

.xButton {
    position: absolute;
    top: -16px;
    right: -16px;
    padding: 4px;
    font-size: 36px;
    cursor: pointer;
    color: red;
    background-color: white;
    box-shadow: 0px 0px 8px 0px #cccccc;
    border-radius: 50px;
    opacity: 0;
    transition: 0.4s;
}

.checkout-book:hover > a >.xButton {
    opacity: 1;
}

.xButton:hover {
    box-shadow: 0px 0px 8px 2px #666;
}



/* Responsive */
/* Content if screen is large */
@media screen and (max-width: 1440px) {
    #sort-sidebar {
        width: 25%;
    }

    .advanced-info {
        flex-basis: 60%;
    }

    #result-page-container {
        width: 85%;
    }
}

/* Content if screen is small */
@media screen and (max-width:1024px) {
    #search-page-content {
        margin: 0 16px;
    }

    #sort-sidebar {
        width: 30%;
    }

    #results-container {
        width: 70%;
    }

    #result-page-container {
        width: 95%;
    }

    #result-page-info-bar, #result-page-image-container {
        margin-right: 24px;
    }

    .advanced-info {
        flex-basis: 50%;
    }
}

/* Content if screen is very small */
@media screen and (max-width:786px) {
    #search-page-content {
        flex-direction: column;
        gap: 24px;
    }

    #sort-sidebar {
        display: block;
        width: 100%;
        margin: 0px auto;
        transition: max-height 1s;
        max-height: 58px;
        margin-bottom: 0px;
        overflow-y: hidden;
        padding-right: 8px;
    }

    #sort-sidebar.sort-open {
        max-height: 500px;
        overflow-y: scroll;
    }

    h3#sort-main-title {
        vertical-align: middle;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    #results-container {
        width: 100%;
        display: block;
    }

    #search-page-search-container {
        display: flex;
    }

    #apply-filters-button {
        margin-top: 16px;
    }

    #result-page-container {
        padding: 24px;
    }

    #result-page-info-bar, #result-page-image-container {
        margin-right: 16px;
    }

    .advanced-info {
        display: none;
    }

    .search-page-search-container {
        display: block;
        float: left;
        width: calc(85% - 75px);
        margin: 16px;
        margin-bottom: 20px;
        margin-top: 0px;
        position: relative;
    }

    #search-page-input {
        width: 100%;
        padding-left: 16px;
        height: 42px;
        border: 2px var(--mint) solid;
        box-shadow: 0px 0px 16px 0px #cccccc;
        font-size: 16px;
    }

    #paginator {
        justify-content: center;
    }
}

/* Content if screen is extremely small */
@media screen and (max-width:500px) {
    .result-page-image {
        width: 100%;
        max-width: 250px;
        margin: 8px auto;
        margin-bottom: 16px;
    }

    #result-page-details > .result-page-image {
        display: block !important;
    }

    #result-page-info-bar > .result-page-image {
        display: none;
    }

    #result-page-info-bar > h6:first-of-type {
        margin-top: 0;
    }

    #result-page-container {
        grid-template-columns: 1fr;
        padding: 24px;
    }
    
    #result-page-header, #result-page-details, #result-page-info-bar {
        grid-column: unset;
    }

    #result-page-header {
        grid-row: 1;
    }

    #result-page-details {
        grid-column: unset;
        grid-row: 3;
    }

    #result-page-info-bar {
        grid-column: unset;
        grid-row: 4;
    }

    #result-page-image-container {
        grid-column: unset;
        grid-row: 2;
    }

    #result-page-info-bar {
        padding: 0;
    }

    #result-page-info-bar, #result-page-image-container {
        margin-right: 0px;
    }
}